.grid-container{
  display: grid;
  background-color: #038ca4;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: minmax(120px, auto) minmax(580px, auto) minmax(200px, 2fr);
  height: 100%;
  justify-content: space-evenly;
}
.grid-item{
  background-color: rgb(154, 12, 162);
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

#header{
  background-color: #99ec4b;
  grid-column: 1 / 6;
}
#karte{
  background-color: #5012e6;
  grid-column: 2 / 5;
}
