html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0 0 0 0;
}
#session{
  float: left;
}
.clear{
    clear: both;
}
.field{
  box-sizing: border-box;
  width: 50%;
  height: 49%;
  float:left;
  background-color: green;
  border-style: dotted;
  border-width: thin;
}
h1{
  text-align: center;
  color: white;
}
