body{
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  background-color: #fff !important;
}
.row{
  width: 100%;
}

svg{
  margin-top: 2em;
}

#mapspace{
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}

.land{
  fill: white;
  stroke: grey;
  stroke-opacity: 1;
  stroke-width:0.5;
  transition: 1.0s;
}
.land:hover{
  fill: black;
}

#logo img{
  margin-left: 2em;
  margin-top: 2em;
  width: 110%;
}

.aktuell{
  display: inline-block;
  margin-top: 2em;
  margin-right: 2em;
  font-weight: 600;
  color: #ffffff;
  background-color: #6699cc;
  padding: 1em;
  width: 10em;
  border: 2px;
  border-radius: 5px;
}

.col-md-8{
  text-align: center;
}

.center{
  padding: 2em;
}

#qr-code{
  width: 70%;
  margin-top: 2em;
}

#Ebene_1 rect{
  fill: rgb(30, 58, 180);
}

#US-3{
  
}

@keyframes mymove {
    0%   {fill: rgb(30, 58, 180);}
    100% {fill: rgb(255, 0, 0);}
}
